#include <windows.h>
#include "resource.h"

#ifndef IDC_STATIC
#define IDC_STATIC  -1
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
#pragma code_page(65001)    // UTF-8

1 ICON "XScreenSaver.ico"

// Dialog
DLG_SCRNSAVECONFIGURE DIALOG DISCARDABLE 0, 0, 465, 285
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "XScreenSaver for Windows"
FONT 8, "Arial"
{
    CONTROL "arg0", IDC_ARGNAME00, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 80, 12
    CONTROL "", IDC_ARGVAL00, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 5, 135, 14
    CONTROL "arg1", IDC_ARGNAME01, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 27, 80, 12
    CONTROL "", IDC_ARGVAL01, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 25, 135, 14
    CONTROL "arg2", IDC_ARGNAME02, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 47, 80, 12
    CONTROL "", IDC_ARGVAL02, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 45, 135, 14
    CONTROL "arg3", IDC_ARGNAME03, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 67, 80, 12
    CONTROL "", IDC_ARGVAL03, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 65, 135, 14
    CONTROL "arg4", IDC_ARGNAME04, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 87, 80, 12
    CONTROL "", IDC_ARGVAL04, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 85, 135, 14
    CONTROL "arg5", IDC_ARGNAME05, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 107, 80, 12
    CONTROL "", IDC_ARGVAL05, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 105, 135, 14
    CONTROL "arg6", IDC_ARGNAME06, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 127, 80, 12
    CONTROL "", IDC_ARGVAL06, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 125, 135, 14
    CONTROL "arg7", IDC_ARGNAME07, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 147, 80, 12
    CONTROL "", IDC_ARGVAL07, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 145, 135, 14
    CONTROL "arg8", IDC_ARGNAME08, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 167, 80, 12
    CONTROL "", IDC_ARGVAL08, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 165, 135, 14
    CONTROL "arg9", IDC_ARGNAME09, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 187, 80, 12
    CONTROL "", IDC_ARGVAL09, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 185, 135, 14
    CONTROL "arg10", IDC_ARGNAME10, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 207, 80, 12
    CONTROL "", IDC_ARGVAL10, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 205, 135, 14
    CONTROL "arg11", IDC_ARGNAME11, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 227, 80, 12
    CONTROL "", IDC_ARGVAL11, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 225, 135, 14
    CONTROL "arg12", IDC_ARGNAME12, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 7, 80, 12
    CONTROL "", IDC_ARGVAL12, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 5, 135, 14
    CONTROL "arg13", IDC_ARGNAME13, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 27, 80, 12
    CONTROL "", IDC_ARGVAL13, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 25, 135, 14
    CONTROL "arg14", IDC_ARGNAME14, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 47, 80, 12
    CONTROL "", IDC_ARGVAL14, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 45, 135, 14
    CONTROL "arg15", IDC_ARGNAME15, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 67, 80, 12
    CONTROL "", IDC_ARGVAL15, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 65, 135, 14
    CONTROL "arg16", IDC_ARGNAME16, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 87, 80, 12
    CONTROL "", IDC_ARGVAL16, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 85, 135, 14
    CONTROL "arg17", IDC_ARGNAME17, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 107, 80, 12
    CONTROL "", IDC_ARGVAL17, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 105, 135, 14
    CONTROL "arg18", IDC_ARGNAME18, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 127, 80, 12
    CONTROL "", IDC_ARGVAL18, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 125, 135, 14
    CONTROL "arg19", IDC_ARGNAME19, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 147, 80, 12
    CONTROL "", IDC_ARGVAL19, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 145, 135, 14
    CONTROL "arg20", IDC_ARGNAME20, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 167, 80, 12
    CONTROL "", IDC_ARGVAL20, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 165, 135, 14
    CONTROL "arg21", IDC_ARGNAME21, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 187, 80, 12
    CONTROL "", IDC_ARGVAL21, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 185, 135, 14
    CONTROL "arg22", IDC_ARGNAME22, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 207, 80, 12
    CONTROL "", IDC_ARGVAL22, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 205, 135, 14
    CONTROL "arg23", IDC_ARGNAME23, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 235, 227, 80, 12
    CONTROL "", IDC_ARGVAL23, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 225, 135, 14
    CONTROL "count", IDC_COUNTNAME, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 247, 30, 14
    CONTROL "", IDC_COUNTVAL, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 245, 35, 14
    CONTROL "cycles", IDC_CYCLESNAME, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 85, 247, 30, 14
    CONTROL "", IDC_CYCLESVAL, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 245, 35, 14
    CONTROL "size", IDC_SIZENAME, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 165, 247, 25, 14
    CONTROL "", IDC_SIZEVAL, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 195, 245, 35, 14
    CONTROL "screen_mode", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 240, 247, 55, 14
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 245, 160, 100
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 255, 265, 100, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 360, 265, 100, 14
    CONTROL "&Reset Setting", IDC_RESET, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 265, 100, 14
}

/////////////////////////////////////////////////////////////////////////////
// String Table

STRINGTABLE
BEGIN
    3, "Whole Virtual Screen"
    4, "Primary Monitor Only"
    5, "Duplicate Screen (needs CPU power)"
END

/////////////////////////////////////////////////////////////////////////////
// Version Info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 8, 1, 0
PRODUCTVERSION  0, 8, 1, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    // English (U.S.)
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Katayama Hirofumi MZ\0"
            VALUE "FileDescription", "XScreenSaverWin screenhack\0"
            VALUE "FileVersion", "0.81\0"
            VALUE "LegalCopyright", "Copyright (C) 2015 Katayama Hirofumi MZ.\0"
            VALUE "ProductName", "XScreenSaverWin\0"
            VALUE "ProductVersion", "0.81\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        // English (U.S.)
        VALUE "Translation", 0x0409, 0x04E4
    END
END

/////////////////////////////////////////////////////////////////////////////
