#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 2
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
// Version Info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 7, 7, 0
PRODUCTVERSION  0, 7, 7, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    // English (U.S.)
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Katayama Hirofumi MZ\0"
            VALUE "FileDescription", "XScreenSaverWin debughelper\0"
            VALUE "FileVersion", "0.77\0"
            VALUE "LegalCopyright", "Copyright (C) 2015 Katayama Hirofumi MZ.\0"
            VALUE "ProductName", "XScreenSaverWin\0"
            VALUE "ProductVersion", "0.77\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        // English (U.S.)
        VALUE "Translation", 0x0409, 0x04E4
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

IDI_DEBUGHELPER       ICON         "..\\XScreenSaver.ico"
IDI_SMALL             ICON         "..\\XScreenSaver.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menus
//

IDC_DEBUGHELPER MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit application",               IDM_EXIT
    END
    POPUP "&Debug"
    BEGIN
        MENUITEM "Copy &parameters to debug",       IDM_COPY
        MENUITEM SEPARATOR
        MENUITEM "200x150",                         IDM_200X150
        MENUITEM "320x240",                         IDM_320X240
        MENUITEM "640x480",                         IDM_640X480
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",                       IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerators
//

IDC_DEBUGHELPER ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
    "C",            IDM_COPY,               VIRTKEY,  CONTROL
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//

IDD_ABOUTBOX DIALOGEX 0, 0, 220, 62
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About debughelper"
FONT 9, "Arial"
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,21,20
    LTEXT           "debughelper Version 0.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2013 Katayama Hirofumi MZ",IDC_STATIC,42,26,150,8
    DEFPUSHBUTTON   "OK",IDOK,140,41,50,14,WS_GROUP
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
	"#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// String tables
//

STRINGTABLE
BEGIN
   IDC_DEBUGHELPER   "DEBUGHELPER"
   IDS_APP_TITLE     "debughelper"
END

/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 3
//

/////////////////////////////////////////////////////////////////////////////
#endif    // ndef APSTUDIO_INVOKED
