#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
// Icons

1 ICON "..\\XScreenSaver.ico"

/////////////////////////////////////////////////////////////////////////////
// Version Info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 7, 8, 0
PRODUCTVERSION  0, 7, 8, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    // English (U.S.)
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Katayama Hirofumi MZ\0"
            VALUE "FileDescription", "XScreenSaverWin random screensaver\0"
            VALUE "FileVersion", "0.78\0"
            VALUE "LegalCopyright", "Copyright (C) 2015 Katayama Hirofumi MZ.\0"
            VALUE "ProductName", "XScreenSaverWin\0"
            VALUE "ProductVersion", "0.78\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        // English (U.S.)
        VALUE "Translation", 0x0409, 0x04E4
    END
END

/////////////////////////////////////////////////////////////////////////////
