#include <windows.h>
#include "resource.h"

#ifndef IDC_STATIC
#define IDC_STATIC	-1
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
#pragma code_page(65001)	// UTF-8

1 ICON "XScreenSaver.ico"

// Dialog
DLG_SCRNSAVECONFIGURE DIALOG DISCARDABLE  0, 0, 87, 51
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "XScreenSaver for Windows"
FONT 9, "Arial"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,30,30,25,14
    LTEXT           "Not implemented yet",IDC_STATIC,7,7,73,15
END
